<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>
    <h1>ESTA ES LA PAGINA DE LOGIN </h1>
    <ul>
        <li>
            <a href="/">Logueo</a>
        </li>
        <li>
            <a href="/register">Registro</a>
        </li>
        <li>
            <a href="/showfiles">Archivos</a>
        </li>
        <li>
            <a href="/logout">Cerrar Sesion</a>
        </li>
    </ul>

    <form action="" method="POST">
        <div class="container">
            <h1>LOGIN</h1>
            <hr>
        
            <label for="name"><b>Nombre:</b></label>
            <input type="text" placeholder="Nombre" name="name" id="name" required>

            
            <label for="psw"><b>Contraseña:</b></label>
            <input type="password" placeholder="Contraseña" name="psw" id="psw" required>
           
          
            <input type="submit" id="entrar" value="Entrar">
            <hr>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="message alert-success">
                        <h1>{{message}}</h1>
                    </div>
                    {% endfor %}
                {% endif %}

            {% endwith %}
        </div>
         <div>
        </div>
        
      </form>
    
</body>
</html>