<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRO</title>
</head>
<body>
   
    <h1>ESTA ES LA PAGINA DE REGISTRO</h1>
    <ul>
        <li>
            <a href="/">Logueo</a>
        </li>
        <li>
            <a href="/register">Registro</a>
        </li>
        <li>
            <a href="/showfiles">Archivos</a>
        </li>
        <li>
            <a href="/logout">Cerrar Sesion</a>
        </li>
    </ul>
   

    <form action="" method="POST">
        <div class="container">
            <h1>Formulario de registro</h1>
            <p>Por favor rellena todos los campos.</p>
            <hr>
        
            <label for="name"><b>Nombre:</b></label>
            <input type="text" placeholder="Nombre" name="name" id="name" required>

            <label for="email"><b>Email:</b></label>
            <input type="text" placeholder="Email" name="email" id="email" required>
        
            <label for="psw"><b>Contraseña:</b></label>
            <input type="password" placeholder="Contraseña" name="psw" id="psw" required>
        
            <label for="pswRepeat"><b>Repite tu contraseña:</b></label>
            <input type="password" placeholder="Repite tu contraseña" name="pswRepeat" id="pswRepeat" required>
           
            <label for="userType"><b>¿Tipo de usuario?</b></label>
            <select name="userType" id="userType">
                <option value="user" selected="true">Usuario</option>
                <option value="admin">Administrador</option>

            </select>
            <hr>
            <br>
            <input type="submit" id="login" value="Registrar">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="message alert-success">
                        <h1>{{message}}</h1>
                    </div>
                    {% endfor %}
                {% endif %}

            {% endwith %}
        
            
            
      
            
        </div>
         <div>
        </div>
        
      </form>
    
</body>
</html>