<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table {
   width: 100%;
   border: 1px solid #000;
}
th, td {
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   border-collapse: collapse;
}
        </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARCHIVOS</title>
</head>
<body>
    <h1>ESTA ES LA PAGINA DE LOS ARCHIVOS</h1>
    <ul>
        <li>
            <a href="/">Logueo</a>
        </li>
        <li>
            <a href="/register">Registro</a>
        </li>
        <li>
            <a href="/showfiles">Archivos</a>
        </li>
        <li>
            <a href="/logout">Cerrar Sesion</a>
        </li>
    </ul>

    
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="container">
            <h1>Sube un nuevo archivo</h1>
            <p>Por favor rellena todos los campos.</p>
            <hr>
            <input type="file" name="archivo" id="archivo" >
            <input type="submit" id="uploadFile" value="Subir Archivo">

            <hr>
            <br>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="message alert-success">
                        <h1>{{message}}</h1>
                    </div>
                    {% endfor %}
                {% endif %}

            {% endwith %}
            
        </div>
         <div>
        </div>
        
      </form>
        <div>
                <table>
                    <tr> 
                        <th>ID del fichero</th>
                        <th>Nombre del fichero</th>
                        <th>Tamaño en MB</th>
                        <th>Fecha de subida</th>
                        <th>Hash del fichero</th>
                        <th>Descargar</th>
                        <th>Eliminar</th>
                    </tr>   
                    {% for files in allFiles %}
                    <tr>
                        <td>{{files[0]}}</td>
                        <td>{{files[2]}}</td>
                        <td>{{files[3]}}</td>
                        <td>{{files[4]}}</td>
                        <td>{{files[5]}}</td>
                        <td><a target="_blank" href="downloadFile/{{files[2]}}" >Descargar</a></td>
                        
                        {% if typeUser=="admin" %}
                            <td><a target="_blank" href="delete_item/{{files[0]}}/{{files[2]}}" >Eliminar</a></td>
                        {% endif %}
                        {% endfor %}
                    </tr>


                </table>
            
        

        </div>


</body>
</html>